body{
    font-family: tahoma, arial, sans-serif;
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#main{
    width: 1024px;
    margin: 50px auto;
}

.header{
    height: 50px;
    background-color: rgb(34, 34, 70);
    position: relative;
    
}
.header-nav{
    position:absolute;
    height:100%;
    right: 0;
    top:0;
    
}

.header-nav ul{
    margin: 0;
    padding: 0;
    
}

.header-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    padding: 15px;
}

.header-nav a{
    color: rgb(151, 151, 151);
    text-decoration: none;
    text-transform:uppercase;
    font-size:12px ;
    letter-spacing: 5px;
    transition: color 0.3s linear;
}
.header-nav a:hover{
    color: white;
}


.logotipo{
    margin: 10px 0px 10px 135px;
}

.portfolio{
    padding: 50px 100px;
    text-align: center;
}

.portfolio h1{
    font-size: 36px;
    
}

.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.562);
}

.gallery{
    padding: 0px 100px 50px 100px;
    overflow:auto ;
}

.gallery-card{
    float: left;
    padding: 10px;
    text-align: center;
}

.gallery-title{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;

}

.gallery-text{
    color: rgba(0, 0, 0, 0.548);
}

.about{
    background-color: #003d52;
    background-image: url(../Imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding:100px;
}


.about h2{
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: lighter;
    margin-top: 30px;
}

.about p{
    color: white;
    line-height: 1.5;
    width: 70%;
}

.contact{
    text-align: center;
    margin: 50px;
}

.contact address{
    font-size: 25px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #003d52;

}

.maps{
    width: 100%;
    margin: 30px 0 30px 0;
}

.maps-card{
    width: 100%;
}

.footer{
    font-size: 12px;
    letter-spacing: 3px;
    text-align: center;
    padding: 25px;
    color: rgba(138, 138, 138, 0.815);
    background-color: rgb(34, 34, 70);
    
}












